<div class="container fluid" style="width: 780px;">
    <h2> {{title}}</h2>
    <form action="" ng-submit="update()">
        <div class="form-group">
            <label for="" class="form-label">Tên chuyến bay</label>
            <input type="text" class="form-control" ng-model="product.ten">

        </div>
        <div class="form-group">
            <label for="" class="form-label">Ảnh</label>
            <input type="text" class="form-control" ng-model="product.anh">
        </div>
        <div class="form-group">
            <label for="" class="form-label">Ngày bắt đầu</label>
            <input type="date" class="form-control" ng-model="product.ngayBatDau">
            <!-- Sử dụng filter date trong template để định dạng ngày hiển thị -->
            <!-- <input type="date" class="form-control" ng-model="product.ngayBatDau | date:'yyyy-MM-dd'" /> -->


        </div>
        <div class="form-group">
            <label for="" class="form-label">Ngày kết thúc</label>
            <input type="date" class="form-control" ng-model="product.ngayKetThuc">
        </div>
        <div class="form-group">
            <label for="" class="form-label">Giá tiền</label>
            <input type="number" class="form-control" min="1" ng-model="product.giaTien">
        </div>
        <button class="btn btn-warning my-2">Update</button>
        <button type="reset" class="btn btn-outline-secondery">Reset</button>
    </form>

</div>